<section class="archive">
    <section class="archive-breakdown">
        {{ range $yd := .Content.YearData }}
            <div class="year-breakdown">
                <div class="year">{{ $yd.Year }}</div>
                <div class="months">
                    {{ range $md := $yd.MonthData }}
                    <div class="month-post-cnt">
                        <a class="month-post-cnt-link" href="/archive/{{ fmtYearAndMonth $yd.Year $md.Month }}/">
                            <span class="month">{{ $md.Month.String }}</span><span class="post-cnt">({{ $md.PostCnt }})</span>
                        </a>
                    </div>
                    {{ end }}
                </div>
            </div>
        {{ end }}
    </section>
</section>