{{ $ccStr := index .Props "cc" }}
<section class="media">
    {{ if .EmbeddedMedia }}
        {{ $em := .EmbeddedMedia }}
        {{@ media-embedded.html @}}
    {{ end }}
    {{ $media := .Videos }}
    {{ if $media }}
        {{ $fcc := 1 }}
        {{@ media-items.html @}}
    {{ end }}
    {{ $media := .Images }}
    {{ if $media }}
        {{ $fcc := 0 }}
        {{ if $ccStr }}
            {{ $fcc = $ccStr | toInt }}
        {{ end }}
        {{@ media-items.html @}}
    {{ end }}
</section>