{{ $post := .Content }}
<article class="post">
    <header>
        {{ if or (not $post.Date.IsZero) (not $post.Time.IsZero) }}
            <span class="date-time">
                {{ if not $post.Date.IsZero }}
                    <span class="date">{{ $post.FmtDate }}</span>
                {{ end }}
                {{ if not $post.Time.IsZero }}
                    <span class="time">{{ $post.FmtTime }}</span>
                {{ end }}
            </span>
        {{ end }}
        {{ if $post.Title }}
            <span class="title">{{ $post.Title }}</span>
        {{ end }}
        {{ if .FileName }}
            <a href="/post/{{ .FileName }}" class="permalink"><i class="fa-solid fa-link"></i></a>
        {{ end }}
    </header>
    <section class="content">
        {{ $post.Body }}
    </section>
    {{ if $post.Tags }}
    <footer>
        {{@ post-tags.html @}}
    </footer>
    {{ end }}
</article>