<script src="/resources/search.js"></script>
<section id="search">
    <section id="search-help-content" style="display:none"></section>
    <section id="search-input">
        <form>
            <input type="text" name="q" id="search-query" autofocus>
            <button type="button" id="search-submit"></button>
            <button type="button" id="search-help-toggle"></button>
        </form>
    </section>
    <section id="search-output" style="display:none">
        <section id="search-summary"></section>
        <section id="search-results"></section>
        <section id="search-pager" data-page-size="{{ .Config.PageSize }}">
            <button type="button" id="search-load-next-page">Load more</button>
        </section>
    </section>
</section>