:root {
    --media-width-small: 15%;
    --media-width-medium: 32%;
    --media-width-large: 49%;
    --media-width-full: 100%;
}

body {
    background-color: #2b2b2b;
    color: #bababa;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    padding: 0 1em;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

body > main {
    font-family: SourceCodePro, monospace;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

@media (min-width: 1024px) {
    body {
        width: 980px;
    }
}

@media (min-resolution: 110dpi) {
    body > main {
        font-size: 1.2em;
    }
}

@media (min-resolution: 260dpi) {
    body > main {
        font-size: 1.4em;
    }
}

@media (min-resolution: 460dpi) {
    body > main {
        font-size: 1.6em;
    }
}

a {
    text-decoration: none;
    &:hover {
        font-weight: bold;
    }
}

body > main .page,
body > main .post:last-of-type {
    margin-bottom: 1em;
}

.page,
.post,
.archive {
    margin-top: 1em;
    border: 2px solid #555;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}

header a.permalink {
    color: #555;
    &:hover {
        color: #777777;
    }
}

.page header,
.post header {
    color: #777;
    font-weight: bold;
    padding: 1em;
    border-bottom: 2px dashed #555;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1em;
}

.post header .date-time {
    color: #777;
    white-space: nowrap;
}

.post header .date-time .date {
    &:before {
        font-family: FontAwesome;
        content: '\f073';
        margin-right: 0.6em;
    }
}

.post header .date-time .time {
    &:before {
        font-family: FontAwesome;
        content: '\f017';
        margin-right: 0.6em;
    }
}

.post header .title {
    flex: 1;
    color: #999;
    padding-left: 1em;
    border-left: 2px solid #555;
}

.page header.title {
    color: #999;
}

.post footer {
    padding: 1em;
    border-top: 2px dashed #555;
}

.post footer .tags {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 0.5em;
    row-gap: 0.5em;
    flex-wrap: wrap;
    font-size: 0.8em;
}

.post footer .tags .tag {
    font-size: 0.8em;
    text-decoration: none;
    padding: 4px 6px;
    color: #777;
    background-color: #333;
    border: 1px solid #555;
    border-radius: 4px;
    white-space: nowrap;
    &:before {
        content: '#';
    }
    &:hover {
        color: #333;
        background-color: #777;
        text-shadow: none;
        cursor: pointer;
    }
}

.page .content,
.post .content {
    padding: 1em;
}

.page .content a,
.post .content a,
.archive a {
    color: #FF9C57;
}

.page .content p:nth-child(1),
.post .content p:nth-child(1) {
    margin-top: 0;
}

.page .content p:last-child,
.post .content p:last-child {
    margin-bottom: 0;
}

.post .content .with-media {
    display: inline-block;
    width: 100%;
}

.post .content .with-media .media {
    margin: 0 0 1em 0;
}

.post .content .with-media.pos-l .media {
    width: var(--media-width-medium);
    margin: 0 1em 1em 0;
    float: left;
}

.post .content .with-media.pos-r .media {
    width: var(--media-width-medium);
    margin: 0 0 1em 1em;
    float: right;
}

.post .content .with-media.size-s .media {
    width: var(--media-width-small);
}

.post .content .with-media.size-m .media {
    width: var(--media-width-medium);
}

.post .content .with-media.size-l .media {
    width: var(--media-width-large);
}

.post .content .with-media.size-f .media {
    width: var(--media-width-full);
}

.content .media {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 1em;
}

.content .media .column {
    width: 100%;
}

.content .media .items {
    display: flex;
    column-gap: 1em;
    row-gap: 1em;
}

.content .media .image {
    display: flex;
    width: calc(100% - 0.5em);
    height: auto;
    padding: 4px;
    border: 1px solid #555;
    border-radius: 2px;
}

.content .media .image img {
    width: 100%;
}

.content .media .image:not(:last-of-type),
.content .media .video:not(:last-of-type){
    margin-bottom: 1em;
}

.content .media .video,
.content .media .embedded .video {
    display: block;
    padding: 4px;
    border: 1px solid #555;
    border-radius: 2px;
}

.content .media .video video {
    width: 100%;
}

.content .media .embedded .video .iframe-responsive {
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    overflow: hidden;
}

.content .media .embedded .video .iframe-responsive iframe {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.archive .archive-breakdown {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1em;
    column-gap: 1em;
    row-gap: 1em;
}

.archive .archive-breakdown .year-breakdown {
    flex: 1;
    border: 2px solid #555;
    border-radius: 4px;
}

.archive .archive-breakdown .year-breakdown .year {
    font-weight: bold;
    padding: 1em;
    border-bottom: 2px dashed #555;
    &:before {
        font-family: FontAwesome;
        content: '\f073';
        margin-right: 0.6em;
    }
}

.archive .archive-breakdown .year-breakdown .months {
    padding: 1em;
}

.archive .archive-breakdown .year-breakdown .months .month-post-cnt .month-post-cnt-link {
    display: flex;
    justify-content: space-between;
}

.pager {
    background-color: #2b2b2b;
    color: #777;
    font-size: 1.4em;
    margin-top: auto;
    padding: 0.5em;
    border-top: 2px solid #555;
    border-left: 2px solid #555;
    border-right: 2px solid #555;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 -4px 8px 0 rgba(0,0,0,0.5);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

@media (min-resolution: 260dpi) {
    .pager {
        font-size: 2em;
    }
}

.pager .nav-link {
    color: #777;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    &:hover {
        color: #aaa;
    }
}

.pager .nav-link.disabled {
    color: #3f3f3f;
    &:hover {
        color: #3f3f3f;
    }
    cursor: not-allowed;
}

#search {
    margin-top: 1em;
}

#search-summary {
    margin-top: 1em;
    padding: 1em;
    border: 2px solid #555;
    border-radius: 4px;
}

#search-input form {
    display: flex;
    flex-direction: row;
    column-gap: 1em;
}

input, button {
    font-size: 1.2em;
    padding: 0.5em;
    border: 2px solid #555;
    border-radius: 4px;
    background-color: #2b2b2b;
}

input {
    color: #bababa;
    flex: 1;
    &:focus {
        outline: none;
    }
}

#search-input form input {
    flex: 1;
}

button {
    cursor: pointer;
    color: #FF9C57;
    &:hover {
        background-color: #333;
    }
}

#search-pager {
    margin-bottom: 1em;
}

#search-pager button {
    width: 100%;
}
